Source: etcd-cpp-apiv3
Version: 0.2.1
Homepage: https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3
Description: The etcd-cpp-apiv3 is a C++ API for etcd's v3 client API, i.e., ETCDCTL_API=3.
Build-Depends: boost-asio, boost-system, boost-thread, boost-random,
               cpprestsdk, grpc, openssl, protobuf
